<launch>
	<node 
	 pkg="create_node"
	 type="turtlebot_node.py"
	 name="turtlebot_node"
        />
	<node
	 pkg = "nodelet"
	 type="nodelet"
	 name="cmd_vel_mux"
	 args="standalone yocs_cmd_vel_mux/CmdVelMuxNodelet"
	>
	
	  <param name="yaml_cfg_file" value="$(find turtlebot_bringup)/param/mux.yaml"/>
	  <remap from="cmd_vel_mux/input/teleop" to="turtlebot_teleop/cmd_vel"/>
	  <remap from="cmd_vel_mux/output" to="cmd_vel"/>
	
	</node>
</launch>

